@font-face {
	src: url("/fonts/OpenSans-Regular.ttf");
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url("/fonts/OpenSans-Italic.ttf");
	font-family: "Open Sans";
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url("/fonts/OpenSans-SemiBold.ttf");
	font-family: "Open Sans";
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url("/fonts/OpenSans-Bold.ttf");
	font-family: "Open Sans";
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url("/fonts/OpenSans-ExtraBold.ttf");
	font-family: "Open Sans";
	font-weight: 800;
	font-style: normal;
}
body {
	margin: 0;
	font-family: "Open Sans", Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
header {
	padding-top: 29px;
	background-color: #e0e0e0;
}
.page {
	margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header {
	box-sizing: border-box;
	display: flex;
	align-items: stretch;
	justify-content: center;
	max-width: 1249px;
	margin: auto;
	min-height: 89px;
	background-color: #000000;
}

.site-menu {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -20px;
}

.site-menu > a {
    display: flex;
    align-items: center;  
    justify-content: center;
    min-height: 89px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
	padding: 0 30px;

}

.site-menu > a:hover {
	background-color: #ff3f40;
}
main {
	background-color: #e0e0e0;
}
.intro {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1249px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #e0e0e0;
}

}
.intro-content {
	position: relative;
	width: 50%;
	vertical-align: top;
	margin-right: 68px;
	background-color: #e0e0e0;
	padding-top: 103px;
	padding-bottom: 94px;
}

.intro-text {
	margin-bottom: 58px;
	color: rgba(0,0,0,0.7);
}
.contact {
	color: #ffffff;
	display: flex;
	background-color: #ff3f40;
	width: 227px;
	padding: 22px 0;
	text-align: center;
	text-decoration: none; 
}
.photo {
	display: flex;
	width: 551px;
	height: 356px;
}